* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.movie_card {
  /* background-color: aqua; */
  display: inline-block;
  width: 25%;
  height: 500px;
}

.imgPoster {
  /* float: center;
   */
  width: 80%;
  height: 80%;
  margin-left: 10%;
}
.info {
  text-align: center;
}
